@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

* {
  transition: 0.2s;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -ms-transition: 0.2s;
  -o-transition: 0.2s;
  scrollbar-width: 12px;
  scrollbar-color: rgb(59, 59, 59);
  scrollbar-track-color: white;
}

*::-webkit-scrollbar {
  width: 12px;
}

*::-webkit-scrollbar-thumb {
  background-color: rgb(59, 59, 59);
}
*::-webkit-scrollbar-thumb:hover {
  background-color: rgb(92, 92, 92);
}

.background-gradient {
  background: rgb(18, 18, 18);
  background: -moz-linear-gradient(
    0deg,
    rgba(18, 18, 18, 1) 0%,
    rgba(88, 0, 96, 0.6923144257703081) 100%
  );
  background: -webkit-linear-gradient(
    0deg,
    rgba(18, 18, 18, 1) 0%,
    rgba(88, 0, 96, 0.6923144257703081) 100%
  );
  background: linear-gradient(
    0deg,
    rgba(18, 18, 18, 1) 0%,
    rgba(88, 0, 96, 0.6923144257703081) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#121212",endColorstr="#580060",GradientType=1);
}

.playlist-cover {
  -webkit-box-shadow: 18px 1px 28px -8px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 18px 1px 28px -8px rgba(0, 0, 0, 0.5);
  box-shadow: 18px 1px 28px -8px rgba(0, 0, 0, 0.5);
}

.shadow-circle {
  -webkit-box-shadow: 0px 10px 22px -3px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 10px 22px -3px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 10px 22px -3px rgba(0, 0, 0, 0.75);
}
